@import url('https://fonts.googleapis.com/css?family=Space+Mono');

:root {
    --cream: #fffdee;
    --black: #1b1b1b;
    --blue: #99dbff;
    --dark-blue: #79c0e5;
    --pink: #ed45ff;
    --gradient: linear-gradient(-45deg, var(--pink), var(--blue));
    --gradient-2: linear-gradient(-45deg, #f7b1ff, #aae1ff);
    --transluscent-cream: rgba(255, 253, 238, .5);
    --transluscent-black: rgba(27, 27, 27, .5);
    --transition: .15s ease-in-out;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
