.container {
    transform: translateY(12.5vh);
    opacity: 0%;
}

.main {
    width: 50%;
    padding: 0 25% 0 25%;
}

.checkItButtonContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    padding-top: 85vh;
    display: flex;
    justify-content: center;
}

.checkItButton {
    padding: .75rem;
    text-decoration: none;
    color: var(--black);
    background-color: var(--blue);
    border-radius: 1rem;
    transition: var(--transition);
}

.checkItButton:hover {
    background-color: var(--dark-blue);
}

.welcome {
    display: flex;
    justify-content: space-between;
}

.welcomeText {
    width: 75%;
}

.welcomeImage {
    width: 7.5vw;
    height: 7.5vw;
    object-fit: cover;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@keyframes fade-in {
    from {
        transform: translateY(12.5vh);
        opacity: 0%;
    }
    to {
        transform: translateY(0);
        opacity: 100%;
    }
}

.fadeIn {
    animation-name: fade-in;
    animation-duration: .5s;
    animation-fill-mode: forwards; 
}

@keyframes fade-out {
    from {
        transform: translateY(0);
        opacity: 100%;
    }
    to {
        transform: translateY(12.5vh);
        opacity: 0%;
    }
}

.fadeOut {
    animation-name: fade-out;
    animation-duration: 1s;
    animation-fill-mode: forwards; 
}