.container {
    width: 100%;
    transition: var(--transition);
    cursor: pointer;
}

.container:hover {
    transform: translateY(-5px);
}

.imageContainer {
    border-radius: 1rem;
    width: 100%;
    height: 200px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.image {
    object-fit: cover;
}

.text {
    color: var(--black);
    margin: 1rem 0;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
}

@keyframes text-to-dark {
    from {color: var(--black);}
    to {color: var(--cream);}
}

.textToDark {
    animation-name: text-to-dark;
    animation-duration: .3s;
    animation-fill-mode: forwards; 
}

@keyframes text-from-dark {
    from {color: var(--cream);}
    to {color: var(--black);}
}

.textFromDark {
    animation-name: text-from-dark;
    animation-duration: .3s;
    animation-fill-mode: forwards; 
}