.icon {
    height: 40px;
    fill: var(--black);
    cursor: pointer;
}

@keyframes icon-to-dark {
    from {fill: var(--black);}
    to {fill: var(--cream);}
}

.iconToDark {
    animation-name: icon-to-dark;
    animation-duration: .3s;
    animation-fill-mode: forwards; 
}

@keyframes icon-from-dark {
    from {fill: var(--cream);}
    to {fill: var(--black);}
}

.iconFromDark {
    animation-name: icon-from-dark;
    animation-duration: .3s;
    animation-fill-mode: forwards; 
}