.container {
    width: 100vw;
    height: 100vh;
    background: var(--cream);
    display: flex;
    justify-content: center;
    align-items: center;
}

.textContainer {
    width: 60vw;
    padding: 5rem;
}

.errorBrandLarge {
    font-size: 8rem;
    font-weight: bold;
    margin: 0 0 2rem 0;
    display: flex;
    justify-content: center;
}

.errorBrandSmall {
    font-size: 2rem;
    margin: 2rem 0 4rem 0;
    display: flex;
    justify-content: center;
}

.goBackButtonContainer {
    display: flex;
    justify-content: center;
    margin: 1rem 0 0 0;
}

.goBackButton {
    padding: 1rem;
    text-decoration: none;
    color: var(--black);
    background-color: var(--blue);
    border-radius: 1.375rem;
    transition: var(--transition);
    font-size: 1.25rem;
}

.goBackButton:hover {
    background-color: var(--dark-blue);
}

.animationContainer {
    width: 60vw;
    height: 100vh;
    background-color: purple;
}