.App {
  width: 100vw;
  height: fit-content;
}

@keyframes app-to-dark {
  from {background-color: var(--cream);}
  to {background-color: var(--black);}
}

.app-to-dark {
  animation-name: app-to-dark;
  animation-duration: .3s;
  animation-fill-mode: forwards; 
}

@keyframes app-from-dark {
  from {background-color: var(--black);}
  to {background-color: var(--cream);}
}

.app-from-dark {
  animation-name: app-from-dark;
  animation-duration: .3s;
  animation-fill-mode: forwards; 
}

.check-it-button__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 85vh;
}

.check-it-button {
  background-color: var(--blue);
  padding: .75rem;
  transition: var(--transition);
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  text-decoration: none;
  color: var(--black);
  height: fit-content;
}

.check-it-button:hover {
  background-color: var(--dark-blue);
}

.welcome {
  display: flex;
  justify-content: space-between;
}

.welcome__text {
  width: 37.5vw;
}

.welcome__img {
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 40%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}