.container {
    width: 50vw;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 2rem;
    background-color: #30354d;
    font-size: 1.5rem;
    font-family: 'Space Mono';
    color: white;
    padding: 1rem;
    font-size: 0;
}

.code {
    font-size: 1.5rem;
}