nav {
    position: fixed;
    z-index: 901;
    top: 0;
    left: 0;
    height: 100vh;
    width: fit-content;
    display: flex;
    align-items: center;
    transform: translate(-50%);
    filter: blur(3px);
    -webkit-filter: blur(3px);
    transition: var(--transition);
}

nav:hover {
    transform: translate(0);
    filter: blur(0);
    -webkit-filter: blur(0);
}

.content {
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
}

.scrollButton {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--black);
    text-decoration: none;
}

@keyframes scroll-button-to-dark {
    from {color: var(--black);}
    to {color: var(--cream);}
}

.scrollButtonToDark {
    animation-name: scroll-button-to-dark;
    animation-duration: .3s;
    animation-fill-mode: forwards; 
}

@keyframes scroll-button-from-dark {
    from {color: var(--cream);}
    to {color: var(--black);}
}

.scrollButtonFromDark {
    animation-name: scroll-button-from-dark;
    animation-duration: .3s;
    animation-fill-mode: forwards; 
}