{% load static %}

<!DOCTYPE html>

<html lang="en">
  <head>

    <title>Michael Vaden</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <header>
        <div class="header__title">
            {% include 'svg/gear.svg.html' %}
            <span class="title">
                Michael Vaden
            </span>
        </div>
        <button class="darkmode">
            {% include 'svg/sun.svg.html' %}
        </button>
    </header>
    <nav>
        <div class="nav__content">
            <a class="nav__link">Work</a>
            <a class="nav__link">Posts</a>
        </div>
    </nav>
    <section>
        <div class="graphics"></div>
        <h1>Header</h1>
        <h2>Header</h2>
        <h3>Header</h3>
        <h1>Header</h1>
        <h2>Header</h2>
        <h3>Header</h3>
        <h1>Header</h1>
        <h2>Header</h2>
        <h3>Header</h3>
        <h1>Header</h1>
        <h2>Header</h2>
        <h3>Header</h3>
        <h1>Header</h1>
        <h2>Header</h2>
        <h3>Header</h3>
        <h1>Header</h1>
        <h2>Header</h2>
        <h3>Header</h3>
        <h1>Header</h1>
        <h2>Header</h2>
        <h3>Header</h3>
    </section>
    <script src="{% static 'js/main.js' %}"></script>
    <script type="module" src="{% static 'js/graphics.js' %}"></script>
  </body>
</html>
